<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Menu</title>
    <link rel="stylesheet" href="/styling/styling.css">
</head>
<body>
<a href="/client/search" class="btn">Clients</a>
<a href="/user/search" class="btn">Users</a>
<a href="/userclient/search" class="btn">Users - Clients</a>
<a href="/schedule" class="btn">Schedule</a>
<a href="/instructor/search" class="btn">Instructors</a>
<a href="/specialty/search" class="btn">Specialties</a>
<a href="/specinstr/search" class="btn">Specialties - Instructors</a>
<a href="/room/search" class="btn">Rooms</a>
<a href="/login" class="btn">Logout</a>
</body>
</html>