<!DOCTYPE html>
<html lang="en", xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    <link rel="stylesheet" href="/styling/styling.css">

</head>
<body>
<form th:action="@{/login}" th:method="post" th:object="${userInsertDTO}">
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username">

    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password">

    <button type="submit">Login</button>
</form>
</body>
</html>