<!DOCTYPE html>
<html lang="en", xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Room</title>
    <link rel="stylesheet" href="/styling/styling.css">
</head>
<body>
<a href="/room/search" class="btn">Search Room</a>
<a href="/admin/menu" class="menu-btn">Admin Menu</a>
<form th:action="@{/room/insert}" th:method="post" th:object="${roomDTO}">
    <label for="id">Room ID Number</label>
    <input type="text" th:field="*{id}" id="id">

    <button type="submit">Submit</button>
</form>
</body>
</html>